.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title {
  width: 400px;
  font-size: 30px;
  text-align: center;
}

.error-title {
  width: 400px;
  font-size: 30px;
  color: red;
  text-align: center;
}
